# TODO:
# - Consider version range for each dependency
# - Transitive dependencies include jupyter-*, may want to version these too
ipython
ipywidgets
omero-py>=5.6.0
matplotlib
pandas
requests
seaborn
scipy
zeroc-ice>3.6,<3.7
